Options -Indexes
DirectoryIndex hehehe.php

<IfModule mod_rewrite.c>

	RewriteEngine On
	
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-l

	RewriteRule ^(.+)$ hehehe.php?url=$1 [L]

</IfModule>